/* Header */
#whatsapp {
    background-image: linear-gradient(180deg,#60d66a 0,#20b038);;
    color: #fff;
    max-width: 290px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5em;
    padding: 13px 20px 20px;
    display: block;
    margin: auto;
    height: 4rem;
}

#whatsapp {
    margin-bottom: 30px;
}
  
#whatsapp:hover {
    background-image: linear-gradient(180deg,#20b038 0,#29bb41)
}

body > div.slider_area,
.slider_area .single_slider {
    height: 100vh;
}

body > div.slider_area > div > div > div > div > div.slider_text.text-center.justify-content-center {
    margin-top: 0;
}

#app > div.home_details > div > div > div > div > div.owl-stage-outer > div > div.owl-item.active > div > div > div > div > div > div.info_content > div > span {
    color: #FDAE5C;
}

.home_details {
    background-image: url('../img/home_details2.jpg');
}

/* Contacto */
.bradcam_area {
    padding: 180px 0 120px 0;
}

.contact-section {
    padding: 50px 0 100px;
}

.bradcam_bg_1 {
    background-image: url('../img/bradcam2.png');
}